/vendor
/node_modules

/public/build
/public/hot

.env
.env.*

/bootstrap/cache
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

composer.lock

.phpunit.result.cache

.idea
.vscode

.DS_Store
Thumbs.db
*.log
